
:root{
    --color-bg: linear-gradient(to top,#010329,#000005);
    --color-glass:linear-gradient(to left,#142544,#1a9092);
    --color-water:linear-gradient(to left,#142544,#1b6d6e);
}

    body{
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .teste{
        background-image: url('../assets/IMG_0224-2.jpg');
    }